<div class="main">
	<div class="btn-text">
		<nz-tag nzColor="#2db7f5" *ngIf="ffmpegReady"> 环境就绪</nz-tag>
		<nz-tag nzColor="#f50" *ngIf="!ffmpegReady"> 环境缺失，请下载</nz-tag>
		<button nz-button nzType="primary" style="margin-right: 10px"
		        (click)="xiazai()"
		>
			下载
		</button>

		<button nz-button nzType="primary" style="margin-right: 10px"
		        (click)="jiance()"
		>
			检测
		</button>

		<button nz-button nzType="primary" style="margin-right: 10px" (click)="mirror()">
			镜像模式
		</button>

		<button nz-button nzType="primary" style="margin-right: 10px" (click)="mirrorStop()">
			停止镜像模式
		</button>

		<button nz-button nzType="primary" style="margin-right: 10px" (click)="kmCapture()">
			键鼠监听
		</button>
	</div>
	<div class="body">
		<div class="mirror-mode" *ngIf="mode==='mirror'">
			<canvas id="video-canvas"></canvas>
		</div>
	</div>
</div>

<div class="loading" *ngIf="loadingShow">
	<nz-spin nzSimple></nz-spin>
	下载中...{{ process }}%
</div>
